.signcard {
  margin-top: 10%;
  height: 70%;
  border-radius: 13px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  z-index: 2;
}

.detailsholder {
  ion-label {
    color: rgb(137, 137, 137);
  }
  ion-input {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}

.imgholder {
  img {
    width: 100px;
    height: 100px;
    //border-radius: 50%;

    //top:-10px;
    position: relative;
  }
  width: 100px;
  z-index: 3;
  position: relative;
  top: 65px;
  margin-left: 35%;
  background: white;
  border-radius: 50%;
  border: solid;
  border-color: #488aff;
  // margin-right: auto
}

.segment-button.segment-activated {
  // border-color: #b739f3 !important;
  opacity: 1;
  //  background-image: linear-gradient(225deg, #b739f3 0%, #6850fb 100%);
  // color: white !important;
}

.loginbtn {
  border-radius: 4px;
  height: 50px;
  // background-image: linear-gradient(225deg, #b739f3 0%, #6850fb 100%);
  margin-top: 5%;
}

.segbtn1 {
  border-top-left-radius: 13px;
}

.segbtn2 {
  border-top-right-radius: 13px;
}

.loginform {
  padding: 12px;
}

ion-select {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
  color: black;
  opacity: 1;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

/* Set the text color */
ion-select::part(text) {
  color: black;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: black;
  opacity: 1;
}
